---
apiVersion: v1
kind: Template
metadata:
  name: insights-scheduler
objects:

- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: insights-scheduler
  spec:
    envName: ${ENV_NAME}
    optionalDependencies:
      - ingress
      - export-service
    testing:
      iqePlugin: insights-scheduler
    database:
      name: scheduler
      version: 16
    kafkaTopics:
    - replicas: 3
      partitions: 16
      topicName: platform.notifications.events
    deployments:
    - name: api
      webServices:
        private:
          enabled: True
        public:
          enabled: False
        metrics:
          enabled: False
      minReplicas: ${{API_REPLICAS}}
      podSpec:
        minReadySeconds: 15
        progressDeadlineSeconds: 600
        image: ${IMAGE}:${IMAGE_TAG}
        command:
          - ./scheduler
        #livenessProbe:
        #  failureThreshold: 3
        #  httpGet:
        #    path: /liveness
        #    port: 10000
        #    scheme: HTTP
        #  periodSeconds: 10
        #  successThreshold: 1
        #  timeoutSeconds: 1
        #readinessProbe:
        #  failureThreshold: 3
        #  httpGet:
        #    path: /readiness
        #    port: 10000
        #    scheme: HTTP
        #  periodSeconds: 10
        #  successThreshold: 1
        #  timeoutSeconds: 1
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: ${CPU_REQUEST}
            memory: ${MEMORY_REQUEST}
        env:
        - name: LOG_LEVEL
          value: INFO
        - name: EXPORT_SERVICE_TIMEOUT
          value: 5m
        - name: EXPORT_SERVICE_MAX_RETRIES
          value: "3"
        - name: DB_MAX_OPEN_CONNECTIONS
          value: "25"
        - name: DB_MAX_IDLE_CONNECTIONS
          value: "5"
        - name: DB_CONNECTION_MAX_LIFETIME
          value: 5m
        - name: KAFKA_CLIENT_ID
          value: insights-scheduler
        - name: KAFKA_TIMEOUT
          value: 30s
        - name: KAFKA_RETRIES
          value: "5"
        - name: KAFKA_COMPRESSION
          value: snappy
        - name: KAFKA_REQUIRED_ACKS
          value: "-1"
        - name: METRICS_ENABLED
          value: "true"
        - name: METRICS_NAMESPACE
          value: insights
        - name: METRICS_SUBSYSTEM
          value: scheduler
        - name: READ_TIMEOUT
          value: 30s
        - name: WRITE_TIMEOUT
          value: 30s
        - name: SHUTDOWN_TIMEOUT
          value: 30s
        - name: BOP_ENABLED
          value: "true"
        - name: BOP_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: backoffice
              key: token
        - name: BOP_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: backoffice
              key: client-id
        - name: BOP_INSIGHTS_ENV
          value: ${ENV_NAME}
        - name: BOP_URL
          value: http://env-ephemeral-bqr8fd-mbop.ephemeral-bqr8fd.svc.cluster.local:8090
        - name: BOP_EPHEMERAL_MODE
          value: "true"
        - name: USER_VALIDATOR_IMPL
          value: ${USER_VALIDATOR_IMPL}
        - name: JOB_COMPLETION_NOTIFIER_IMPL
          value: ${JOB_COMPLETION_NOTIFIER_IMPL}

parameters:
- description: Initial amount of memory the insights-scheduler container will request.
  displayName: Memory Request
  name: MEMORY_REQUEST
  required: true
  value: 256Mi
- description: Maximum amount of memory the insights-scheduler.
  displayName: Memory Limit
  name: MEMORY_LIMIT
  required: true
  value: 512Mi
- description: Initial amount of cpu the insights-scheduler container will request.
  displayName: CPU Request
  name: CPU_REQUEST
  required: true
  value: 200m
- description: Maximum amount of cpu the insights-scheduler container can use.
  displayName: CPU Limit
  name: CPU_LIMIT
  required: true
  value: 500m
- description: The log level to use for logging
  displayName: The log level to use for logging
  name: LOG_LEVEL
  required: true
  value: DEBUG
- name: LOG_FORMAT
  value: logstash
- description: The number of replicas to use for the insights-scheduler api
  name: API_REPLICAS
  value: '1'
- description: The number of replicas to use for the insights-scheduler api
  name: MQTT_CONSUMER_REPLICAS
  value: '1'
- description: The number of replicas to use for the insights-scheduler api
  name: KAFKA_CONSUMER_REPLICAS
  value: '1'
- description: Image
  name: IMAGE
  required: true
  value: quay.io/dehort/insights-scheduler
- description: Image tag
  name: IMAGE_TAG
  required: true
- description : ClowdEnvironment name
  name: ENV_NAME
  required: true

- name: USER_VALIDATOR_IMPL
  value: "bop"
  required: true

- name: JOB_COMPLETION_NOTIFIER_IMPL
  value: "notifications"
  required: true
